#mapId {
  height: 100%; /* Asegúrate de que ocupe el 100% de la altura disponible */
  width: 100%;  /* Asegúrate de que ocupe el 100% del ancho disponible */
  position: relative; /* Establece la posición relativa */
  margin-top: 10px; /* Ajusta el margen si es necesario */
}
