<ion-header>
  <ion-toolbar color="dark"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/role-selection"></ion-back-button> 
    </ion-buttons>
    <ion-title>Pasajero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let viaje of viajes$ | async">
      <ion-label>
        <h2>{{ viaje.partida }} -> {{ viaje.destino }}</h2>
        <p>Hora de salida: {{ viaje.horaSalida }}</p>
        <p>Capacidad Total: {{ viaje.capacidadTotal }}</p>
        <p>Costo por persona: {{ viaje.costoPorPersona }}</p>
        <p>Cupos ocupados: {{ viaje.asientosOcupados }} / {{ viaje.capacidadTotal }}</p>
      </ion-label>
      <!-- Pasar el objeto completo 'viaje' al método tomarOferta -->
      <ion-button fill="outline" (click)="tomarOferta(viaje)">Tomar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

